<div class="jumbotron">
    <h1>WEB API TEST</h1>
    <p class="lead">ASP.NET Framework 4.6 : Webservice - WEB API </p>
  
</div>
<div class="row">
    <div class="col-md-4">
    
    </div>
    <div class="col-md-4">
        <p> <a href="https://localhost:44318/api/Employees/All" target="_top"  class="btn btn-primary btn-lg">API - Get All</a></p>
    </div>
    <div class="col-md-4">
       
    </div>
</div>
