@{
    ViewBag.Title = "Home Page";
}


    

<div class="row">
    <h2>
        Technical Assessment :
    </h2>
        <strong class="lead">The prospective developer must execute the tasks below to complete the assessment</strong>
 
 
    <h2 style="text-align :center">   Application Development Requirements </h2>
    <div class="col-md-6">
        <h2>Tasks</h2>
        <p>
            <br /> Create a Restful Webservice with CRUD functionally   <br /> Create database [TechTestDB]. An “Employee” table must be created o This table must have minimal fields that you would need when storing an employee in a database   <br /> Create a Web Client that will consume the Restful Webservice o The client must perform CRUD functions

        </p>
        
    </div>
    <div class="col-md-6">
        <h2>Scope </h2>
        <p>  <br /> The use of ORMs   <br /> Patterns used, how DI/IoC is applied, how data is transformed, how Restful service is constructed   <br /> Application of Javascript frameworks and how Restful service is consumed   <br /> Creativity used in the whole solution .</p>
 
    </div>

</div>